table{
    border-collapse: collapse;
    border: 1px solid black;
}
td{
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    text-align: center;
    vertical-align: center;
    font-family: monospace;
    font-size: 18px;
    position: relative;
}
td.pixel{
    width: 4px;
    height: 4px;
    border: 0;
}
.pixel-index{
    font-size: 10px;
    display: inline-block;
    position: absolute;
    top: 2px;
    right: 2px;
    color: #000;
 }
